# Environnement virtuel
.venv/
venv/
ENV/
nlp_venv
nlp_env

# Fichiers Python compilés
__pycache__/
*.py[cod]
*$py.class

# Fichiers de distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Fichiers de Jupyter Notebook
.ipynb_checkpoints

# Fichiers spécifiques à votre projet
Data/
Modeles/
*.csv
*.xlsx
*.json

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers d'environnement
.env

# Fichiers de logs
*.log

# Fichiers IDE spécifiques (ajustez selon vos besoins)
.vscode/
.idea/
*.swp
*.swo

# Fichiers spécifiques à spaCy
*.pkl
*.bin

# Cache tensorflow
tfhub_cache/